body{
    margin: 0;
    padding: 0;
    border: 0;
}
.contenedor{
    background-color: rgb(56, 55, 55);
    width: 100vw;
    height: 400px;
    text-align: center;
    position: relative;
    bottom: 80px;
}


.contenido{
    background-color: honeydew;
    width: 200px;
    height: 200px;    
    display: inline-block;
    padding: 20px;
    border: 20px;
    margin: 20px;
    position: relative;
    top: 100px;
}

.elemento{
    padding: 20px;
    border: 20px;
    margin: 20px;
    position: relative;
    top: 50px;
}

/* Tablet */
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .contenedor{
        height: 400px;
    }

    .contenido{
        width: 150px;
        height: 150px;
    }
    .elemento{
        padding: 20px;
        border: 20px;
        margin: 20px;
        position: relative;
        top: 25px;
    }
}

/* Tablet */
@media (max-width: 850px) {
    .contenido{
        width: 150px;
        height: 150px;
        position: relative;
        top: 115px;
    }
    .elemento{
        padding: 20px;
        border: 20px;
        margin: 20px;
        position: relative;
        top: 25px;
    }
}

/* celulares */
@media (max-width: 697px) {

    .contenedor{
        width: 100%;
        height: 700px;
    }

    .contenido{
        display: block;
        margin: auto;
        padding: 0;
        width: 170px;
        height: 170px;
    }
    .elemento{
        padding: 20px;
        border: 20px;
        margin: 20px;
        position: relative;
        top: 50px;
    }

}

/* Segunda sección */

.contenedor2{
    background-color: rgb(255, 239, 178);
    width: 100vw;
    height: 700px;
    text-align: center;
}

.contenido-card{
    display: inline-block;
    position: relative;
    right: 200px;
}

.card{
    height: 500px;
    width: 800px;
    background-color: white;
    border-radius: 3%;
    position: relative;
    top: 100px;
    left: 200px;
    padding: 0;
    border-radius: 25px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.imagen-card{
    width: 250px;
    height: 500px;
    background-color: rgb(255, 108, 98);
    text-align: center;
    border-radius: 25px 0px 0px 25px;
}

.container-level{
    height: 50px;
    width: 120px;
    opacity: 1;
    background-color: rgb(245, 93, 78);
    color: white;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 90px;
    left: 5px;
}

.level-name{
    text-transform: uppercase;
    position: relative;
    bottom: 2px;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.img-card{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    top: 90px;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    border: 10px;
}

.texto-card{
    height: 500px;
    width: 500px;
    background-color: white;
    position: relative;
    bottom: 550px;
    left: 250px;
}

.texto{
    width: 450px;
    font: 20px Arial, sans-serif;
    text-align: justify;
    position: relative;
    left: 50px;
    top: 80px;
    line-height: 30px;
}

.titulo{
    text-align: center;
    font: 50px Arial, sans-serif;
    
}

.info{
    padding-top: 40px;
    text-align: right;
}

/* Tablet seccion 2 */
@media (max-width: 850px) {
    .contenedor2{
        margin:0;
        padding: 0;
        height: 800px;
    }

    .contenido-card{
        display: inline-block;
        position: relative;
        right: 200px;
        top: 50px;
    }

    .card{
       height: 400px;
       width: 700px;

    }

    .imagen-card{
        height: 400px;
    }
    
    .container-level{
        height: 30px;
        width: 100px;
        position: relative;
        left: 10px;
        bottom: 20px;
        top: 70px;
    }
    
    .level-name{
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        top: -8px;

    }
    
    .img-card{
        height: 150px;
        width: 150px;
        position: relative;
        top: 70px;
        left: 10px;
    }
    
    .texto-card{
        height: 400px;
        width: 450px;
        position: relative;
        bottom: 440px;

    }
    
    .texto{
      width: 350px;
      position: relative;
      top: 40px;        
    }
    
    .titulo{
        position: relative;
        top: 50px;
        font: 35px Arial, sans-serif;
    }
    
    .description{
        position: relative;
        top: 60px;
        font: 15px Arial, sans-serif;
        line-height: 30px;
    }

    .info{
        position: relative;
        top: 60px;
        font: 15px Arial, sans-serif;
    }



}